.section_home_contact {
  width: 100%;
  max-width: 100vw;
  margin-bottom: 220px;
}

.padding-global {
  padding-bottom: 0px;
}

.padding-global.choose {
  display: flex;
  width: 100%;
  max-width: 100vw;
  margin-top: 0px;
  margin-bottom: 140px;
  padding-right: 20px;
  padding-left: 20px;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .padding-global.choose.landscape-pad {
    margin-top: 60px;
    flex-direction: column;
  }
}

.padding-global.discord {
  margin-bottom: 40px;
  padding-bottom: 20%;
}

.live-data.live {
  width: 0px;
  max-width: 0px;
}

.live-data.discord-live-data {
  position: relative;
}

.heading-12 {
  font-weight: 700;
  font-size: 38px;
  background-image: linear-gradient(150deg, hsla(172, 95.36%, 71.26%, 1.00), hsla(136.72131147540983, 85.92%, 13.92%, 1.00));
  text-align: center;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 80px;
}
@media screen and (max-width: 767px) {
  .heading-12 {
    font-size: 20px;
  }
}

.chart{
  margin-left: 70px;
}

@media screen and (max-width: 991px) {
  .chart {
    width: 30%;
  }
}