.page-wrapper {
  width: 1160px;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

@media screen and (max-width: 991px) {
  .page-wrapper.tab {
    width: 100%;
  }
}